<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shuttle Routes</title>
</head>
<body>
    <div class="col-md-6 offset-md-3
    
    
    ">
            <table class="table table-striped table-hover table-secondary">
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>starting_point</th>
                        <th>Destination</th>
                        <th>Fare</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for route in routes %}
                    <tr class="table-info">
                    <td>{{ route.starting_point }}</td>
                    <td>{{ route.destination }}</td>
                    <td>{{ route.fare }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>
</html>